button{margin:0;padding:0}
.bd{border:1px solid #000;}
.bdc{border:1px solid #ccc;}
.flex{display:flex;}
.flex-1{flex:1;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-wrap{flex-wrap:wrap;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.align-center{align-items:center}
.align-start{align-items:flex-start;}
.row-reverse{flex-direction:row-reverse}
.column-reverse{flex-direction:column-reverse}
.m-10{margin:10px;}
.m-20{margin:20px;}
.m-30{margin:30px;}
.m-40{margin:40px;}
.m-50{margin:50px;}
.m-60{margin:60px;}
.m-70{margin:70px;}
.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mt-60{margin-top:60px;}
.mt-70{margin-top:70px;}
.mt-90{margin-top:90px;}


.mr-50{margin-right:50px;}
.mr-110{margin-right:110px;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.t-0{top:0;}
.b-0{bottom:0;}
.r-0{right:0;}
.l-0{left:0;}
.p-50{padding:50px}
.p-10{padding:10px}
.p-20{padding:20px}
.p-30{padding:30px}
.p-40{padding:40px}
.p-50{padding:50px}
.px-10{padding:0 10px}
.px-20{padding:0 20px}
.px-30{padding:0 30px}
.px-40{padding:0 40px}
.px-50{padding:0 50px}
.bg-white{background-color: white;}
.huise{color:#ccc}
.title{font-size:23px;color:#333;font-weight:500;}
.border-box{box-sizing:border-box;}
.font-sm{font-size:13px;}
.text-white {color: #ffffff;}
.text-primary {color: #007bff;}
.text-hover-primary { color: #0056b3;}
.text-secondary {color: #6c757d;}
.text-hover-secondary { color: #494f54;}
.text-success {color: #28a745;}
.text-hover-success{color: #19692c;}
.text-info { color: #17a2b8;}
.text-hover-info {color: #0f6674;}
.text-warning {color: #ffc107;}
.text-hover-warning { color: #ba8b00;}
.text-danger { color: #dc3545;}
.text-hover-danger { color: #a71d2a;}
.text-light { color: #f8f9fa;}
.text-hover-light { color: #cbd3da;}
.text-dark { color: #343a40;}
.text-hover-dark{ color: #121416;}
.text-body { color: #212529;}
.text-muted { color: #6c757d;}
/* 浅灰色 */
.text-light-muted { color: #A9A5A0;}
.text-light-black { color: rgba(0, 0, 0, 0.5);}
.text-light-white { color: rgba(255, 255, 255, 0.5);}
/* 背景颜色 */
.bg-button{background-color: rgb(54,201,178);}
.bg-primary { background-color: #007bff;}
.bg-hover-primary:hover{ background-color: #0062cc;}
.bg-secondary { background-color: #6c757d;}
.bg-hover-secondary:hover{ background-color: #545b62;}
.bg-success { background-color: #28a745;}
.bg-hover-success { background-color: #1e7e34;}
.bg-info { background-color: #17a2b8;}
.bg-hover-info { background-color: #117a8b;}
.bg-warning { background-color: #ffc107;}
.bg-hover-warning { background-color: #d39e00;}
.bg-danger { background-color: #dc3545;}
.bg-hover-danger{ background-color: #bd2130;}
.bg-light { background-color: #f8f9fa;}
.bg-hover-light{ background-color: #dae0e5;}
.bg-dark { background-color: #343a40;}
.bg-hover-dark { background-color: #1d2124;}
.bg-white { background-color: #ffffff;}
.bg-transparent { background-color: transparent;}
.border { border-width: 1rpx;border-style: solid;border-color: #dee2e6;}
.border-top {
  border-top-width: 1rpx;
  border-top-style: solid;
  border-top-color: #dee2e6;
}
.border-right {
  border-right-width: 1rpx;
  border-right-style: solid;
  border-right-color: #dee2e6;
}
.border-bottom {
  border-bottom-width: 1rpx;
  border-bottom-style: solid;
  border-bottom-color: #dee2e6;
}
.border-left {
  border-left-width: 1rpx;
  border-left-style: solid;
  border-left-color: #dee2e6;
}
.border-0 { border-width: 0!important;}
.border-top-0 { border-top-width: 0!important;}
.border-right-0 {border-right-width: 0!important;}
.border-bottom-0 {border-bottom-width: 0!important;}
.border-left-0 {border-left-width: 0!important;}
.border-primary { border-color: #007bff;}
.border-secondary {border-color: #6c757d;}
.border-light-secondary {border-color: #E9E8E5;}
.border-success {border-color: #28a745;}
.border-info {border-color: #17a2b8;}
.border-warning {border-color: #ffc107;}
.border-danger {border-color: #dc3545;}
.border-light {border-color: #f8f9fa;}
.border-dark {border-color: #343a40;}
.border-white {border-color: #FFFFFF;}

.text-center{text-align:center;}



